*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:"poppins";
}
:root{
    --primary-color:#4E42D9;
    --secondary-color:#4E42D9;
    font-size: 16px;
}
body{
    background-color: white;
}
.clearfix::after{
    content: "";
    display: block;
    clear:both;

}
ul li{
    list-style-type: none;
    color:#797979;

}
ul li.active{
    color:var(--primary-color);
}
