.nav-logo{
    color: var(--primary-color);
    font-size: 1.87rem;
    font-weight: 600;
    line-height: 2.8rem;
    padding: 2rem 2.5rem;
    float: left;
}

.nav-logo span{
    color: black;
}
.nav-items{
    float: right;
}
.nav-items ul{
    float: left;

}


.nav-items ul li{
 float:left;
 font-size: 1rem;            
 line-height: 1.5rem;
 font-weight: 400;
 margin: 2.8rem 1.5rem; 
}

.nav-items ul li.active{
    font-weight: 600;
    font-size: 1rem;            
    line-height: 1.5rem;

}
.contact-btn{
    display: inline-block;
}
.nav-items ul li:last-child{
    position: relative;
    background-color: var(--primary-color);
    color: white ;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1rem;
    padding:1em 1.87em;
    float: left;
    border:0px;
 margin: 2rem 2.5rem; 

}

.container{
    width:80%;
    margin:auto ;
}

.hero-section section{
    float: left;
    max-width: 500px;
    margin-top: 62.5px;
}
.hero-section section h2{
    max-width: 500px;
font-size: 2.25rem;
font-weight: 700;
line-height: 130%;
letter-spacing: 0em;
text-align: left;
margin-bottom: 12px;
}

.hero-section .hero-image{
    width: 578px;
    height: 584px;
    float: right;
    background-image: url(../images/hero-image.png);
    background-position: center;
    background-size: contain;
}

.hero-section section p{
    max-width:454px;
font-size: 1rem;
font-weight: 400;
line-height: 150%;
letter-spacing: 0em;
text-align: left;
margin-bottom: 3rem;
color:#797979;

}
.hero-section section .explore-btn{
    float: left;
    background-color: var(--primary-color);
    color:white;
    padding:1rem 1.87rem ;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: 0em;
    text-align: left;
margin-right: 12px;
border-radius: 4px;
border:0px;


}
.hero-section section .about-btn{
    float: left;
    background-color: rgba(78, 66, 217, 0.18);
    color:var(--primary-color);
    padding:1rem 1.87rem ;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 4px;
    border:0px;

}


.section-what{
    margin-top: 72px;
}
.section-what h2{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height:177.9% ;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
}

.feature{
    width: 285px;
    
    margin: 20px 5px;
     float : left;
}
.feature img{
    width:91px;
    height:90px;
display: block;
    margin:0 auto 24px ;


}
.feature h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3B3950;
    margin-bottom: 8px;
}
.feature p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 0.01em;
color: #797979;
}
.blog-section{
    background-color: #F8F8F8;
    padding: 72px 0px;
}

.blog-section h2{
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 140%;
letter-spacing: 0.01em;

}
.blog-section>p{
    display: block;
    margin:auto;
    margin-bottom: 40px;
    max-width: 559px;
font-weight: 400;
font-size: 16px;
line-height: 150%;

text-align: center;
letter-spacing: 0.01em;


color: #797979;

}
.blog-section .blog{
    min-width: 276px;
    max-width: 366px;
    float: left ;
    margin: 0px 10px;
    
}
.blog-section .blog:first-child{
    margin-left: 0px;
}
.blog-section .blog:last-child{
    margin-right: 0px;
}
.blog-section section{
    width: 80%;
    margin: 0px auto;

}
.blog-section section img{
    width: 100%;
    display: block;
    margin:auto;
height: 281px;
    border-radius: 4px;

}
.blog-section section .date{
    margin: 12px 0px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
color: #797979;

}
.blog-section section h4{

font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;

letter-spacing: 0.01em;

color: #3B3950;

}
.blog-section section p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

letter-spacing: 0.01em;

color: #797979;
}
.blog-section > button{
    padding: 16px 30px;
width:125px;
height:50px;
background: #4E42D9;
border-radius: 4px;
color:white;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 110%;
display: block;
text-align: center;
margin: 71px auto 0px;
border:0px;
}
footer{
    background-color:#292838 ;
    padding:70px 0px;
}

.footer-title{
    max-width:398px;
    float :left;
}
.footer-container{
    width:80%;
    margin: auto;
}
.footer-title h2{
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
    color:white;

}
.footer-title p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

color: rgba(255, 255, 255, 0.8);
}
.footer-links{
    float:right;
    margin-bottom: 72px;

}
.footer-links section{
    float: left;
    margin-right: 89px;
}
.footer-links section:last-child{
    margin-right: 0px;
}
.footer-links section h2{
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 24px;
}

.footer-links ul li{
    margin-bottom: 1rem;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */


color: rgba(255, 255, 255, 0.8);
}
.copyright{
    margin: 10px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

}